$c-black-100: rgba(15, 15, 15, 1.0);
$c-black-090: rgba(15, 15, 15, 0.9);
$c-black-080: rgba(15, 15, 15, 0.8);
$c-black-070: rgba(15, 15, 15, 0.7);
$c-black-060: rgba(15, 15, 15, 0.6);
$c-black-050: rgba(15, 15, 15, 0.5);
$c-black-040: rgba(15, 15, 15, 0.4);
$c-black-030: rgba(15, 15, 15, 0.3);
$c-black-020: rgba(15, 15, 15, 0.2);
$c-black-010: rgba(15, 15, 15, 0.1);
$c-black-005: rgba(15, 15, 15, 0.05);
$c-blue-100: rgba(47, 58, 232, 1.0);
$c-blue-090: rgba(47, 58, 232, 0.9);
$c-blue-080: rgba(47, 58, 232, 0.8);
$c-blue-070: rgba(47, 58, 232, 0.7);
$c-blue-060: rgba(47, 58, 232, 0.6);
$c-blue-dark-100: rgba(16, 24, 147, 1.0);
$c-blue-dark-090: rgba(16, 24, 147, 0.9);
$c-blue-dark-080: rgba(16, 24, 147, 0.8);
$c-blue-dark-070: rgba(16, 24, 147, 0.7);
$c-blue-dark-060: rgba(16, 24, 147, 0.6);
$c-blue-dark-050: rgba(16, 24, 147, 0.5);
$c-blue-dark-040: rgba(16, 24, 147, 0.4);
$c-blue-dark-030: rgba(16, 24, 147, 0.3);
$c-blue-dark-2x-100: rgba(1, 8, 126, 1.0);
$c-green-100: rgba(0,184,69,1.0);
$c-green-090: rgba(0,184,69,0.9);
$c-green-080: rgba(0,184,69,0.8);
$c-green-070: rgba(0,184,69,0.7);
$c-green-060: rgba(0,184,69,0.6);
$c-green-030: rgba(0,184,69,0.3);
$c-green-005: rgba(0,184,69,0.05);
$c-purple-100: rgba(179,95,255,1.0);
$c-purple-090: rgba(179,95,255,0.9);
$c-purple-080: rgba(179,95,255,0.8);
$c-purple-070: rgba(179,95,255,0.7);
$c-purple-060: rgba(179,95,255,0.6);
$c-purple-030: rgba(179,95,255,0.3);
$c-purple-005: rgba(179,95,255,0.05);
$c-red-100: rgba(227,36,53,1.0);
$c-red-090: rgba(227,36,53,0.9);
$c-red-080: rgba(227,36,53,0.8);
$c-red-070: rgba(227,36,53,0.7);
$c-red-060: rgba(227,36,53,0.6);
$c-red-030: rgba(227,36,53,0.3);
$c-red-005: rgba(227,36,53,0.05);
$c-white-100: rgba(255, 255, 255, 1.0);
$c-white-090: rgba(255, 255, 255, 0.9);
$c-white-080: rgba(255, 255, 255, 0.8);
$c-white-070: rgba(255, 255, 255, 0.7);
$c-white-060: rgba(255, 255, 255, 0.6);
$c-white-050: rgba(255, 255, 255, 0.5);
$c-white-040: rgba(255, 255, 255, 0.4);
$c-white-030: rgba(255, 255, 255, 0.3);
$c-white-020: rgba(255, 255, 255, 0.2);
$c-white-010: rgba(255, 255, 255, 0.1);
$c-white-005: rgba(255, 255, 255, 0.05);
$c-grey-100: rgba(212, 212, 212, 1.0);
$c-dark-grey-100: rgba(50, 50, 50, 1.0);
$c-dark-grey-090: rgba(50, 50, 50, 0.9);
$c-dark-grey-080: rgba(50, 50, 50, 0.8);
$c-dark-grey-070: rgba(50, 50, 50, 0.7);
$c-dark-grey-060: rgba(50, 50, 50, 0.6);
$c-dark-grey-050: rgba(50, 50, 50, 0.5);
$c-dark-grey-040: rgba(50, 50, 50, 0.4);
$c-transparent: rgba(0, 0, 0, 0);

// screen sizes
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

/**
 * everything will have the regular font except the components
 * with the cursive font, thus the use of "!important" for the
 * cursive font.
 */
.font-regular {
  font-family: 'Catamaran', sans-serif;
}

.font-cursive {
  font-family: 'Comfortaa', cursive !important;
  letter-spacing: 1px;
}
