@import 'constants.scss';

* {
  @extend .font-regular;
  transition: all 200ms;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
}

.nav-bar {
  z-index: 1000;
  font-size: 1rem;
  padding: 0.125rem 0.5rem;
  background-color: $c-black-100;
  color: white;
  font-weight: 100;
  a:link, a:visited {
    color: white;
  }
  li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 0.50rem;
    .nav-bar-item-base {
      display: inline-block;
      padding: 0.5rem 0.5rem;
      position: relative;
      .nav-bar-link {
        border-bottom: 4px solid $c-transparent;
      }
    }
    .nav-bar-item-tdc {
      @extend .nav-bar-item-base;
      font-weight: 900;
      top: 0.125rem;
      letter-spacing: 3px;
      font-size: 1.5rem;
    }
    .nav-bar-item {
      @extend .nav-bar-item-base;
    }
    .nav-bar-item:hover .nav-bar-link {
      border-bottom: 4px solid $c-white-050;
    }
    .nav-bar-item-tdc:hover {
      color: $c-blue-100;
      transition: all 50ms;
      .nav-bar-link {
        border-bottom: 4px solid $c-transparent !important;
      }
    }
  }
}

#content {
  z-index: 500;
  .events-group {
    text-align: center;
    .event-groups-manipulation {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      display: block;
      background-color: $c-blue-100;
      color: white;
      overflow: auto;
      padding: 0.5rem 1rem 0.5rem 1rem;
      box-shadow: 0 0.25rem 1.5rem 0.01rem $c-blue-100;
      .event-groups-settings {
        display: block;
        .event-manipulation-search {
          display: block;
          width: 100%;
          font-weight: 100;
          border: solid 1px $c-blue-dark-040;
          border-radius: 100rem;
          background-color: $c-blue-dark-050;
          box-shadow: inset 0 0 1.5rem $c-blue-dark-060;
          text-align: center;
          input[type=text] {
            background-color: $c-transparent;
            text-align: center;
            font-weight: 700;
            font-size: 1rem;
            padding: 0 1rem;
            color: white;
            border: none;
            width: 100%;
            display: inline-block;
            letter-spacing: 1px;
          }
          input[type=text]::placeholder {
            color: $c-white-050;
            font-weight: 100;
          }

          input[type=text]:focus {
            background-color: $c-blue-dark-080;
            border-radius: 100rem;
            outline: none;
          }
          input[type=text]:focus::placeholder {
            color: $c-white-080;
          }
        }
      }
      @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
        .event-groups-settings {
          margin: 0 15%;
        }
      }

      @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
        .event-groups-settings {
          margin: 0 20%;
        }
      }

      @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
        .event-groups-settings {
          margin: 0 25%;
        }
      }

      @media screen and (min-width: $screen-lg) {
        .event-groups-settings {
          margin: 0 30%;
        }
      }
    }
    .event-list {
      .event-list-no-event-view {
        display: block;
        padding: 0.75rem 1rem;
        font-weight: 100;
        font-size: 1.25rem;
      }
      .event-group-name {
        @extend .font-cursive;
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
        padding: 0.75rem 0;
        text-transform: uppercase;
        background-color: $c-blue-100;
        color: white;
      }
      .event-list-content {
        display: block;
        padding: 0 1.0rem;
        .event-separator {
          display: block;
          padding: 0.9rem 3.0rem;
          span {
            display: block;
            min-height: 3px;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
        .event {
          display: block;
          padding: 0.375rem 0 0.375rem 0;

          .event-title {
            display: block;
            font-size: 1.25rem;
            font-weight: 400;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
          }
          .event-time {
            display: block;
            font-weight: 100;
          }
          .event-indicator {
            display: block;
            font-weight: 900;
            font-style: oblique;
            color: white;
            .x-light-shaded-box-init {
              animation-duration: 2s;
              animation-iteration-count: infinite;
            }
          }
          .event-indicator-soon {
            @keyframes purpleBackAndForth {
              0% {
                background-color: $c-purple-030;
              }
              20% {
                background-color: $c-purple-060;
              }
              60% {
                background-color: $c-purple-100;
              }
              75% {
                background-color: $c-purple-060;
              }
              90% {
                background-color: $c-purple-100;
              }
              100% {
                background-color: $c-purple-030;
              }
            }
            .x-light-shaded-box-init {
              background-color: $c-purple-060;
              animation-name: purpleBackAndForth;
            }
          }

          .event-indicator-now {
            @keyframes greenBackAndForth {
              0% {
                background-color: $c-green-030;
              }
              20% {
                background-color: $c-green-060;
              }
              60% {
                background-color: $c-green-100;
              }
              75% {
                background-color: $c-green-060;
              }
              90% {
                background-color: $c-green-100;
              }
              100% {
                background-color: $c-green-030;
              }
            }
            .x-light-shaded-box-init {
              background-color: $c-green-060;
              animation-name: greenBackAndForth;
            }
          }
          .event-indicator-happened {
            @keyframes redBackAndForth {
              0% {
                background-color: $c-red-030;
              }
              20% {
                background-color: $c-red-060;
              }
              60% {
                background-color: $c-red-100;
              }
              75% {
                background-color: $c-red-060;
              }
              90% {
                background-color: $c-red-100;
              }
              100% {
                background-color: $c-red-030;
              }
            }
            .x-light-shaded-box-init {
              background-color: $c-red-060;
              animation-name: redBackAndForth;
            }
          }
          .event-location {
            display: block;
            font-weight: 900;
          }
          .event-categories {
            display: block;
            color: $c-blue-100;
            font-style: italic;
            padding-top: 0.15rem;
            padding-bottom: 0.15rem;
          }
          .event-description {
            display: block;
            font-size: 1.1rem;
          }
        }
      }

      @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
        .event-list-content {
          margin: 0 15%;
        }
      }

      @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
        .event-list-content {
          margin: 0 20%;
        }
      }

      @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
        .event-list-content {
          margin: 0 25%;
        }
      }

      @media screen and (min-width: $screen-lg) {
        .event-list-content {
          margin: 0 30%;
        }
      }
    }

    .event-list-past {
      background-color: $c-black-010;
      .event-group-name {
        background-color: $c-blue-dark-2x-100;
      }
      .event-list-content {
        .event {
          .event-title, .event-time, .event-location, .event-description {
            color: $c-dark-grey-050;
          }
        }
      }
    }
  }
}

#footer {
  font-size: 1.0rem;
  padding: 1rem 0.5rem;
  background-color: $c-black-090;
  color: white;
  font-weight: 100;
  line-height: 1.3;
  text-align: center;
  a:link, a:visited {
    font-weight: 700;
    color: white;
  }
}

/**
 * Common Components
 */

.x-light-shaded-box {
  padding: 0 0.20rem;
  display: inline-block;
  .x-light-shaded-box-init {
    padding: 0 0.5rem;
    font-weight: 700;
    border-radius: 3px;
    background-color: $c-black-005;
  }
}