@import 'constants.scss';

* {
  @extend .font-regular;
  transition: all 200ms;
}

body {
  padding: 0;
  margin: 0;
}

.nav-bar {
  font-size: 1.25rem;
  padding: 0.125rem 0.5rem;
  background-color: $c-black-100;
  color: white;
  font-weight: 900;
  li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 0.50rem;
    .nav-bar-item {
      display: inline-block;
      padding: 0.5rem 0.5rem;
      .nav-bar-link {
        border-bottom: 4px solid $c-transparent;
      }
    }
    .nav-bar-item:hover .nav-bar-link {
      border-bottom: 4px solid $c-white-050;
    }
  }
}

#content {
  padding: 1.0rem;
  .events-group {
    text-align: center;
    .event-list {
      .event-group-name {
        @extend .font-cursive;
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
      }
      .event-list-content {
        .event-separator {
          display: block;
          padding: 1.0rem 3.0rem;
          span {
            display: block;
            min-height: 2px;
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
        .event {
          display: block;
          padding: 0.375rem 0 0.375rem 0;

          .event-title {
            display: block;
            font-size: 1.25rem;
            font-weight: 400;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
          }
          .event-time {
            display: block;
            font-weight: 100;
          }
          .event-location {
            display: block;
            font-weight: 900;
          }
          .event-categories {
            display: block;
            color: $c-blue-100;
            font-style: italic;
            padding-top: 0.15rem;
            padding-bottom: 0.15rem;
            span {
              padding: 0 0.5rem;
              span {
                padding: 0 0.5rem;
                font-weight: 700;
                border-radius: 3px;
                background-color: $c-black-005;
              }
            }
          }
          .event-description {
            display: block;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

#footer {
  font-size: 1.25rem;
  padding: 1rem 0.5rem;
  background-color: $c-blue-100;
  color: white;
  text-align: center;
}