.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

/**
 * everything will have the regular font except the components
 * with the cursive font, thus the use of "!important" for the
 * cursive font.
 */
.font-regular, * {
  font-family: 'Catamaran', sans-serif; }

.font-cursive, #content .events-group .event-list .event-group-name {
  font-family: 'Pattaya', sans-serif !important; }

* {
  transition: all 200ms; }

body {
  padding: 0;
  margin: 0; }

.nav-bar {
  font-size: 1.25rem;
  padding: 0.125rem 0.5rem;
  background-color: #0f0f0f;
  color: white;
  font-weight: 900; }
  .nav-bar li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 0.50rem; }
    .nav-bar li .nav-bar-item {
      display: inline-block;
      padding: 0.5rem 0.5rem; }
      .nav-bar li .nav-bar-item .nav-bar-link {
        border-bottom: 4px solid rgba(0, 0, 0, 0); }
    .nav-bar li .nav-bar-item:hover .nav-bar-link {
      border-bottom: 4px solid rgba(255, 255, 255, 0.5); }

#content {
  padding: 1.0rem; }
  #content .events-group {
    text-align: center; }
    #content .events-group .event-list .event-group-name {
      display: block;
      font-size: 1.5rem;
      font-weight: 900;
      text-transform: uppercase; }
    #content .events-group .event-list .event-list-content .event-separator {
      display: block;
      padding: 1.0rem 3.0rem; }
      #content .events-group .event-list .event-list-content .event-separator span {
        display: block;
        min-height: 2px;
        background-color: rgba(0, 0, 0, 0.2); }
    #content .events-group .event-list .event-list-content .event {
      display: block;
      padding: 0.375rem 0 0.375rem 0; }
      #content .events-group .event-list .event-list-content .event .event-title {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem; }
      #content .events-group .event-list .event-list-content .event .event-location {
        display: block;
        font-weight: 900;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem; }
      #content .events-group .event-list .event-list-content .event .event-category {
        display: block;
        color: dodgerblue;
        font-style: italic;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem; }
      #content .events-group .event-list .event-list-content .event .event-description {
        display: block;
        font-size: 1.1rem;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem; }
      #content .events-group .event-list .event-list-content .event .event-time {
        display: block; }

#footer {
  font-size: 1.25rem;
  padding: 1rem 0.5rem;
  background-color: #2f3ae8;
  color: white;
  text-align: center;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
